html{
	scroll-behavior: smooth;
	overflow-y: scroll;
}
html,body {
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
/**************************| card css starts |**************************/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
p{font-family: 'Montserrat', sans-serif;}
.card-panel {
	height: 155px;
	width: 300px;
	background-color:white;
	color: gray;
	border-radius: 7px;
	display: absolute;
	margin-top: 30px;
	box-shadow:4px 10px 10px 10px rgba(0, 0, 0, .1);
	overflow: hidden;
	transition:  transform 0.3s;
	margin-left:20px;
}
.wrraper{
	padding: 0px 20px;
}

.card-panel:hover{
	box-shadow:4px 10px 10px 10px rgba(136,0,255,0.6);
	transform: scale(1.02);

}
.card-panel .card-title .title{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	letter-spacing: 1px;
	display: relative;
	margin-top: 20px;
	background: -webkit-linear-gradient(rgba(59,0,255,1), rgba(201,0,255,1));
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;

}
.card-panel .card-price .price{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 1px;
	display: relative;
	background: -webkit-linear-gradient(rgba(255,214,0,1),rgba(201,0,255,1));
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
}
.card-panel .card-desc .desc{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	display: relative;
}


/**************************| card css Ends |**************************/
.bg-mynav
{
	box-shadow:0px 10px 10px rgba(0, 0, 0, .3);
	
	background-image: linear-gradient( 109.6deg,  rgba(119,44,232,1) 11.5%, rgba(119,44,232,1) 91.2% );
}
.navbar-brand
{
	margin-left: 150px;
	margin-right: 70px;
}
.nav-item
{
	margin-right: 30px;

}
.panel1
{
	width: 100%;
	height: 323px;
	border-radius: 5px;
	background-color:#f0f0f0;
}
.bartext
{
	color: white;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
}
.bartext1
{
	color: black;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}
.bar
{
	background-color: white;
	color: white;

}
.panel2
{
	overflow: hidden;
	box-shadow:4px 10px 10px 0px rgba(0, 0, 0, .3);
	height: 160vh;
	border-radius: 10px;
	background-color: #fff

}
.stylishfonth
{
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
	font-weight: bold;
	line-height: 30px;
	letter-spacing: 1px;
	display: relative;
	margin-top: 20px;
	background: -webkit-linear-gradient(rgba(59,0,255,1), rgba(201,0,255,1));
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
}
.stylishfontp
{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1px;
	display: relative;
	background: -webkit-linear-gradient(rgba(255,214,0,1),rgba(201,0,255,1));
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
}
.jumbotron
{
	
	color: white;
}
.parallax2 {
          /* The image used */
          background-image: url("../img/parralax.jpg");

          /* Set a specific height */
          min-height: 150px; 

          /* Create the parallax scrolling effect */
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          
}
.login{
	position:absolute;
	font-weight: bold;
	left: 80%;
}
.fa{
  padding: 10px;
  font-size: 50px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  border-radius: 10%;
}

.fa :hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #D6004D;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}